{% extends 'gestorbase.html.twig' %}

{% block title %}Edit AreaCoordinacion{% endblock %}

{% block container %}
    <h1>Editar Coordinaciones de Areas</h1>

    {{ include('area_coordinacion/_form.html.twig', {'button_label': 'Update'}) }}

    {{ include('area_coordinacion/_delete_form.html.twig') }}
    <a href="{{ path('area_coordinacion_index') }}" class="btn btn-warning">Back</a>    
{% endblock %}