{% extends 'gestorbase.html.twig' %}

{% block title %}Edit SolicitudRequerimientos{% endblock %}

{% block container %}
    <h1>Edit Solicitud de Requerimientos</h1>

    {{ include('solicitud_requerimientos/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('solicitud_requerimientos_index') }}" >Back</a>

    {# {{ include('solicitud_requerimientos/_delete_form.html.twig') }} #}
{% endblock %}