{% extends 'gestorbase.html.twig' %}

{% block title %}Nueva Solicitud de Requerimientos{% endblock %}

{% block container %}
    <h1>Create Nueva Solicitud de Requerimientos</h1>

    {{ include('solicitud_requerimientos/_form.html.twig') }}

    <a href="{{ app.request.headers.get('referer') }}" class="btn btn-warning">Back</a>
{% endblock %}