{% extends 'gestorbase.html.twig' %}

{% block title %}Registrar Usuario{% endblock %}

{% block container %}
    <h1>Registro al Sistema.</h1>

    {{ include('gestor_usuario/_form.html.twig') }}

    <a href="{{ path('gestor_usuario_index') }}">back to list</a>
{% endblock %}