{% extends 'gestorbase.html.twig' %}

{% block title %}Crear Solicitud de Servicio{% endblock %}

{% block container %}
    <h1>Crear Nueva Solicitud de Servicio</h1>

    {{ include('solicitud_servicio/_form.html.twig') }}

    <a href="{{ path('solicitud_servicio_index') }}">back to list</a>
{% endblock %}