{% extends 'base.html.twig' %}

{% block title %}New SolicitudServicio{% endblock %}

{% block body %}
    <h1>Create new SolicitudServicio</h1>

    {{ include('solicitud_servicio/_form.html.twig') }}

    <a href="{{ path('solicitud_servicio_index') }}">back to list</a>
{% endblock %}