<!DOCTYPE html>
<html>
  <!--
    Plantilla Básica 
  -->
  <head>
    <title>Gestor de Proyectos: {% block title %}Titulo Provisional{% endblock %}</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% block stylesheets %}
      <link rel="stylesheet" href="{{ asset('build/gestorglobal.css') }}"> 
    {% endblock %}
  </head>
  <body>
    <script src="{{ asset('build/gestorglobal.js') }}"></script>
    <div class="navbar navbar-top" id="top"><p>Cabecera</p>
      <div id="header_img"><p>Imagen de Cabecera</p></div>
      <nav class="navbar navbar-inverse"><p class="navbar-text">Barra de Navegación</p></nav>
    </div>
    <div class="container col-sm-12" id ="container">{% block container %}<p>Aqui va el Contenedor.</p>
    {% endblock %}</div>
    <div class="navbar navbar-default" id="bottom"><p class="navbar-text">Pie de Pagina</p></div>
  </body>
</html>
