{% extends 'gestorbase.html.twig' %}

{% block title %}Pagina de Inicio{% endblock %}

{% block container %}
    <h1></h1>
    <ul>
        <li><a href="{{ path('solicitud_servicio_index') }}">Ver Solicitudes de Servicio</a></li>
    </ul>>
{% endblock %}